* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: skyblue;
    color: white;
    text-align: center;
    padding: 50px;
}

header h1 {
    font-size: 25px;
}


nav {
    background-color: grey;
    text-align: center;
    padding: 14px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 20px;
    text-decoration: solid;
}

.container {
    width: 90%;
    margin: 0 auto;
}

nav a:hover {
    color: rgb(91, 219, 236);
}

.about {
    display: flex;
    align-items: center;
    gap: 30px;
}

.image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.text {
    flex: 1;
}

.story {
    display: flex;
    gap: 40px;
    text-align: justify;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
}

.hobbie {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.hobbies-left,
.hobbie-right {
    width: 50%;
}